.zast{
    width: 100%;
    text-align: left;
    background-color: #1d1d1d;
  
  }
  .zast_content{
    margin: auto;
    text-align: left;
  }
  .zast_img{
    background-image: url("https://images.unsplash.com/photo-1620840781738-6061c542cdf8?auto=format&fit=crop&q=80&w=3131&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 50vw;
    min-height: 50vh;
  }
  .zast_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 20px;
    margin: auto;
    padding: 2vw;
    border-radius: 15px;
  }
  .zast_wrapper div{
    width: 44%;
    min-width: 400px;
    margin: auto;
    border: 0px solid none;
    border-radius: 15px;
  }
